docs
jsdoc-plugins/*
resources/lib/video.js/*
resources/videojs-ogvjs/*
resources/lib/ogv.js/
vendor/

# Language files written automatically by TranslateWiki
/i18n/**/*.json
!/i18n/**/en.json
!/i18n/**/qqq.json
