.mwEmbedPlayer .iewebm-prompt {
	position: absolute;
	top: 100px;
	bottom: 60px;
	left: 20px;
	right: 20px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.75);

	width: auto !important;
	height: auto !important;

	padding: 20px;
}

.mwEmbedPlayer .iewebm-prompt div {
	color: black;
}