body {
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	overflow: hidden;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
img#bgimage {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.mediaContainer .videoHolder {
	position: static;
}
