.mediaContainer,
.PopUpMediaTransform {
	position: relative;
	display: block;
}

.thumb .mediaContainer,
.thumb .PopUpMediaTransform {
	margin: 0 auto;
}

@supports ( aspect-ratio: 16 / 9 ) {
	.mediaContainer,
	.mediaContainer video,
	.mediaContainer audio,
	.PopUpMediaTransform,
	.PopUpMediaTransform img {
		width: auto;
		max-width: 100%;
		height: auto;
	}
}
