.PopUpMediaTransform a .play-btn-large {
	top: 50%;
	left: 50%;
	width: 70px;
	height: 53px;
	margin-left: -35px;
	margin-top: -25px;
	/* @embed */
	background-image: url( player_big_play_button.png );
}

.PopUpMediaTransform a .play-btn-large :hover {
	/* @embed */
	background-image: url( player_big_play_button_hover.png );
}

/* Should hopefully be only visible to screen readers */
.mw-tmh-playtext {
	display: block;
	height: 0;
	overflow: hidden;
}
